.movieListDiv {
    background-color: #eee;
    display: flex;
    align-items: center;
    flex-direction: column;
    h3 {
        color: rgb(165, 16, 16);
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: 20pt;
    }
}

.moviePoster {
    width: 150px;
    height: 240px;
}

.row {
    display: flex;
    width: 90%;
    align-items: center;
    overflow-x: auto;
    flex-wrap: nowrap;
}

.moviesDiv {
    display: flex;
    gap: 2rem;
    justify-content: start;
}
