.bigDiv {
    width: 100%;
    height: 400px;
    display: flex;
    border: 1px solid black;
}

.leftPart {
    width: 50%;
    border: 1px solid red;
}

.rightPart {
    width: 50%;
    border: 1px solid blue;
}
